input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

#waBtn {
  display: none;
  margin-top: 12px;
  background: #25D366;
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 15px;

}/* ===== MOBILE VERSION ===== */
@media (max-width: 480px) {

  body {
    padding: 20px;
  }

  #pinBox, #konten {
    width: 100%;
    padding: 25px 20px;
    border-radius: 16px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  input, button {
    font-size: 16px;
    padding: 12px;
  }

  button {
    border-radius: 10px;
  }
}
